<%-  include("../partials/header.ejs")%>
<h1>My Playlists:</h1>

<!-- list for playlists  -->
    <ul>
        <% playlists.forEach((playlist) => { %>
            <li>
               <h2> <%= playlist.name %> </h2>
                <a href="/playlists/<%= playlist.id %>">more info</a>
                
                <form method="POST" action="/playlists">
                    <input hidden type="text" name="playlists" value="<%= playlist.name %>">
                    
                </form>
                
                <form method="POST" action="/playlists/<%= playlist.id%>?_method=DELETE">
                    <input type="hidden" id="id" value="<%= playlist.id %>" name="id" required>
                    <button type="submit" >Delete</button>
                </form>
                
            </li>
        <% }) %>
          
    </ul>


<%-  include("../partials/footer.ejs")%>