<%-  include("../partials/header.ejs")%>
<h1>All Playlists:</h1>


<form method="GET" action="/playlists">
    <label for="playlistSearch">Search:</label>

    <input type="text" placeholder="search playlists..." name=""/>
    <button type="submit">Search</button>
</form>

<ul>
    <% playlists.forEach((playlist, i) => { %>
        <li>
            <%= playlist.name %> <a href="/playlists/<%= i %>">more info</a>
            <form method="POST" action="/playlists/<%= i %>/?_method=DELETE">
                <input type="submit" value="Delete">
            
            </form>
            <a href="/playlists/edit/<%= i %>">Edit</a>
        </li>
    <% }) %>
</ul>


<%-  include("../partials/footer.ejs")%>