<%-  include("../partials/header.ejs")%>
<h1>My Playlists:</h1>

    <!-- <form method="GET" action="/">
        <label for="playlistSearch">Search My Playlists:</label>
    
        <input type="text" placeholder="playlist name..." />
     <button type="submit">Search</button>
    </form>  -->

    <ul>
        <% playlists.forEach((playlist) => { %>
            <li>
               <h2> <%= playlist.name %> </h2>
                <a href="/playlists/<%= playlist.name %>">more info</a>
                
                <form method="POST" action="/playlists">
                    <input hidden type="text" name="playlists" value="<%= playlist.name %>">
                    
                </form>
                
                <form method="POST" action="/playlists/?_method=DELETE">
                    <input type="submit" value="Delete">
                </form>
                
            </li>
        <% }) %>
          
    </ul>


<%-  include("../partials/footer.ejs")%>