<%- include('../partials/header.ejs') %>
<h1><%=  track.name %></h1>
    <p> Listeners: <%= track.listeners %> </p>
    <p> Playcount: <%= track.playcount  %></p>
<h2>Artist: <%=  track.artist.name  %></h2>
<h2>Album: <%=  track.album.title  %></h2>
  
<h3>Published: <%= track.wiki.published %></h3>
    <form method="POST" action="/tracks/details/:track_id/<%= track.url %>/playlists">
        <input hidden type="text" name="track" value="<%= track.name %>">
        
        <button type="submit">Add to Playlist</button>
  </form>
<%- include('../partials/footer.ejs') %>