<%- include('../partials/header.ejs') %>
<h1>Search results for <%= search %>:</h1>


<div>
    <% trackResults.forEach(track => { %>
        <div>
            <h2><%= track.name %></h2>

            <p> <%= track.artist %></p>

            <a href="/tracks/details?track_name=<%= track.name %>&artist_name=<%= track.artist %>">More Info</a>
            <form method="POST" action="/playlists">
                <input hidden type="text" name="track" value="<%= track.name %>">
                <button type="submit">Add to Playlist</button>
          </form>
        </div>
    <% }) %>
</div>

   
<%- include('../partials/footer.ejs') %>