<%- include('../partials/header.ejs') %>
<h1>Search results for <%= search %>:</h1>


<div>
    <% trackResults.forEach(track => { %>
        <div>
            <h2><%= track.name %></h2>

            <p> <%= track.artist %></p>

            <a href="/tracks/details/:track_id<% track.url %>">More Info</a>
        </div>
    <% }) %>
</div>

   
<%- include('../partials/footer.ejs') %>